body{
    margin: 0;
    display: flex;
}
#textcont{
  font-size: large;
  font-weight: bold;
}
.mainContainer{
  
    display: flex;
    flex: 1 1;
    width: 100%;
    height: 100vh;
    flex-wrap: wrap;
    margin: 0;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}
.lblNaslov{
    text-align: center;
    align-self: center;
    font-size: 40px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
.btnStart
{
    align-self: flex-end;
    text-align: center;
    appearance: none;
    height: 30px;
    width: 200px;
    left: 85%;
    top: 95%;
    margin-top: -15px;
    margin-left: -100px;
    position: fixed;
}
.smallContainer
{
    display: flex;
    flex: 0 0;
    margin-right:5%;
}
.smallContainer2
{
  display: flex;
  flex-direction: column;
  flex: 0 0;
  margin-right:5%;
}
b{
  color:red;
}
.lblOdg
{
  margin: 20px;
  font-size: 25px;
}
.circle{
    position: absolute;
    width: 3cm;
    height: 3cm;
    background: grey;
    border-radius: 50%;
    margin-top: 300px;
}
.circle:nth-child(1) {
transform: rotate(-90deg) translateX(250px);
}

.circle:nth-child(2) {
transform: rotate(-35deg) translateX(250px);
}

.circle:nth-child(3) {
transform: rotate(35deg) translateX(250px);
}

.circle:nth-child(4) {
transform: rotate(90deg) translateX(250px);
}

.circle:nth-child(5) {
transform: rotate(145deg) translateX(250px);
}

.circle:nth-child(6) {
transform: rotate(-145deg) translateX(250px);
}

.circle2 {
    position: absolute;
    width: 3cm;
    height: 3cm;
    background: grey;
    border-radius: 50%;
    margin-top: 300px;
  }

  .circle2:nth-child(1) {
    transform: rotate(-90deg) translateX(250px);
  }

  .circle2:nth-child(2) {
    transform: rotate(-45deg) translateX(250px);
  }

  .circle2:nth-child(3) {
    transform: rotate(0deg) translateX(250px);
  }

  .circle2:nth-child(4) {
    transform: rotate(45deg) translateX(250px);
  }

  .circle2:nth-child(5) {
    transform: rotate(90deg) translateX(250px);
  }

  .circle2:nth-child(6) {
    transform: rotate(135deg) translateX(250px);
  }

  .circle2:nth-child(7) {
    transform: rotate(180deg) translateX(250px);
  }

  .circle2:nth-child(8) {
    transform: rotate(225deg) translateX(250px);
  }

  .circle3 {
    position: absolute;
    width: 3cm;
    height: 3cm;
    background: grey;
    border-radius: 50%;
    margin-top: 300px;
      }
  .circle3:nth-child(1) {
    transform: rotate(-90deg) translateX(250px);
  }
  .circle3:nth-child(2) {
    transform: rotate(-54deg) translateX(250px);
  }
  .circle3:nth-child(3) {
    transform: rotate(-18deg) translateX(250px);
  }
  .circle3:nth-child(4) {
    transform: rotate(18deg) translateX(250px);
  }
  .circle3:nth-child(5) {
    transform: rotate(54deg) translateX(250px);
  }
  .circle3:nth-child(6) {
    transform: rotate(90deg) translateX(250px);
  }
  .circle3:nth-child(7) {
    transform: rotate(126deg) translateX(250px);
  }
  .circle3:nth-child(8) {
    transform: rotate(162deg) translateX(250px);
  }
  .circle3:nth-child(9) {
    transform: rotate(198deg) translateX(250px);
  }
  .circle3:nth-child(10) {
    transform: rotate(234deg) translateX(250px);
  }

  .newdiv{
    align-self: flex-start;
    height: 60px;
    width: 80px;
  }

  .linecircle{
    position: absolute;
    width: 3cm;
    height: 3cm;
    background: grey;
    border-radius: 50%;
    margin-top: 50px;
    margin-left: 2%;
  }
